body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4; 
    color: #333; 
    transition: background-color 0.5s, color 0.5s; 
}


body.dark-mode {
    background-color: #333; 
    color: #f4f4f4; 
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fff; 
    color: #333; 
    border: 1px solid #ccc; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}


body.dark-mode input {
    background-color: #444; 
    color: #f4f4f4; 
    border-color: #666; 
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {    
    padding: 10px;
}

.discount-message {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.amortization-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.amortization-table th,
.amortization-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.card-container {
    display: flex; 
    flex-wrap: wrap; 
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer; 
    width: calc(33.33% - 20px); 
    box-sizing: border-box; 
    background-color: #fff; 
    color: #333; 
    transition: background-color 0.3s, color 0.3s; 
}


body.dark-mode .card {
    background-color: #444; 
    color: #f4f4f4; 
}

.card.selected {
    border-color: #4CAF50; 
}

.collapse-message {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block; 
    width: 100%;
    text-align: center; 
}

.collapse-message:hover {
    background-color: #45a049;
}

.amortization-schedule {
    display: none; 
    padding-top: 10px;
}


#loadingIndicator {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}


#mode-toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

